<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
    <parameter name="screenshot" value="true" />
    <test name="Regression1">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.MyAccountSubpageTest"/>
            <class name="tests.WishListAddItemTest"/>
        </classes>
    </test>
</suite>